* {
  color: #c7c7c7;
}

img#foto {
  border-radius: 80%;
  width: 200px;
  border: 2px solid rgb(222, 222, 222);
  padding: 5px;
}

media (max-width: 300px) {
  img#foto {
    width: 200px;
    height: 150px;
  }
}
header {
  font-size: 18px;
  display: flex;
  text-align: center;
}

body#ap {
  display: flex;
}

html {
  background-color: black;
  font-style: ;
}

body div#container {
  display: flex;
  justify-content: space-evenly;
  background-color: #3b3b3b;
}

#lista {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

h2#contatos {
  display: flex;
  justify-content: center;
}
